@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto|Roboto+Condensed);

* {
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: medium;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: 100%;
}
#combination > li, #idol-menu > li {
  width: 32%;
}

#entry {
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  box-shadow: 5px 0 6px -6px black;
}
#combination, #filters, #idol-menu {
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0 5px 6px -6px black;
}
#idol-menu {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#entry {
  padding: 0.5ex 0.5em;
}
#display {
  padding: 6ex 0.5em 0.5ex;
}

#combination {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#combination > li {
  flex-grow: 0;
  flex-shrink: 0;
}
#combination > li#combination-entry {
  flex: 1 1;
}

@media (min-width: 60em) {
  #entry {
    width: 60%;
    height: 100vh;
  }
  nav {
    width: 40%;
  }
  #idol-menu {
    box-shadow: none;
  }
  #display {
    position: fixed;
    left: 60%;
    top: 0;
    right: 0;
  }
  #notes {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 60%;
    z-index: -10;
  }
  #switch-display {
    display: none;
  }

  #combination > li, #idol-menu > li {
    width: 16%;
  }
}

h2 {
  font-size: medium;
  font-weight: normal;
}
#effects, #synergies, #notes, dd, .instruction {
  font-size: smaller;
}

#combination > li, #idol-menu > li {
  border: 0.2ex solid transparent;
  display: inline-block;
  vertical-align: top;
}
#combination > li, #idol-menu > li {
  min-height: 6ex;
  padding: 0.5ex 0.2em;
}

#combination > li:hover, #idol-menu > li:hover {
  border-color: lightblue;
}
#idol-menu > li.highlighted {
  border-color: black;
}
#combination > li.examined, #idol-menu > li.examined {
  border-color: green green red red;
}
#combination-entry input {
  font-size: medium;
  border: none;
  -webkit-appearance: none;
  width: 100%;
}
#combination-entry input:focus {
  outline: none;
}

#idol-menu li:not(.in-use) {
  cursor: pointer;
}
#combination li {
  cursor: pointer;
}
.full #combination-entry {
  display: none;
}
.name {
  display: block;
}
.score, .synergy-value, .score-delta {
  display: inline-block;
  font-size: small;
  cursor: help;
}
#idol-menu .score-delta::before {
  content: '+';
}

.details {
  display: none;
}

#score {
  font-size: xx-large;
  font-weight: bold;
}
#synergies ul {
  list-style: none;
  padding-left: 0;
}
.idol-name, .idol-names {
  display: inline;
}
.idol-name::after {
  content: ' + ';
}
.idol-name:last-child::after {
  content: ': ';
}

#notes {
  padding-left: 0.5em;
}

#combination-display {
  display: block;
  width: 100%;
  border: none;
}
.synergy-value {
  color: green;
}
.negative .synergy-value {
  color: red;
}
.in-use {
  color: darkgray;
}

html {
  font-family: 'Roboto', sans-serif;
}
.name, .score, #score, input, h2, #search-window dt {
  font-family: 'Roboto Slab', serif;
}
#filters, #filters h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

progress {
  width: 100%;
  height: 2ex;
}
progress + .label {
  margin-top: -2ex;
  display: block;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 0.5em white;
}

ul.idols, ul.dungeons {
  padding: 0;
  margin: 0;
}
ul.idols > li, ul.dungeons > li {
  display: inline;
}
ul.idols > li::after {
  content: ', ';
}
ul.idols > li:last-child::after {
  content: '';
}

dl {
  border-top: 1px solid black;
  padding: 1ex 0 0 0;
}
dt {
  float: left;
  clear: left;
}
dd {
  border-bottom: 1px solid black;
  margin: 0 0 0.5ex 0;
  padding: 0 0 0.5ex 0;
  text-align: right;
}
dd::after {
  content: '';
  display: block;
  clear: both;
}
dd ul.idols {
  clear: both;
  text-align: center;
}
dd .progress {
  display: block;
  text-align: center;
}
#filters {
  font-size: smaller;
  padding: 0.5em;
  z-index: 30;
}
#filters h2 {
  font-size: 100%;
  font-weight: normal;
  display: inline;
}
input[type='number'] {
  width: 4em;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + .label {
  cursor: pointer;
  padding: 0.2ex 0.4em;
  display: inline-block;
}
input[type='checkbox']:checked + .label {
  color: #03A9F4;
}
ul.dungeons {
  display: inline;
}

nav fieldset {
  border: none;
  padding: 0;
  margin: 0 0.5em;
}
nav fieldset label {
  display: inline-table;
  width: 32%;
  height: 6ex;
  margin: 0;
}
nav input[type='radio'] {
  display: none;
}
nav input[type='radio'] + .label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid transparent;
}
nav input[type='radio']:checked + .label {
  border-bottom-color: black;
}

#display-idol .name {
  display: block;
  text-align: center;
}
#display-idol img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
