* {
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: medium;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  width: 100%;
}
#combination > li, #idol-menu > li {
  width: 32%;
}

#entry {
  max-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
#combination, #filters, #idol-menu {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
#combination > li#combination-entry, #filters, #idol-menu {
  border-bottom: 1px solid darkgray;
}
#idol-menu {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  overflow: auto;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#entry {
  padding: 0.5ex 0.5em;
}
#display {
  padding: 9ex 0.5em 0.5ex;
  background-color: white;
  z-index: 20;
}

#combination {
  padding: 0 20px 0 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#combination > li {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
#combination > li#combination-entry {
  margin-right: -20px;
}
#entry[data-length='1'] li#combination-entry { -webkit-box-flex: 5; -webkit-flex: 5 5; -ms-flex: 5 5; flex: 5 5; }
#entry[data-length='2'] li#combination-entry { -webkit-box-flex: 4; -webkit-flex: 4 4; -ms-flex: 4 4; flex: 4 4; }
#entry[data-length='3'] li#combination-entry { -webkit-box-flex: 3; -webkit-flex: 3 3; -ms-flex: 3 3; flex: 3 3; }
#entry[data-length='4'] li#combination-entry { -webkit-box-flex: 2; -webkit-flex: 2 2; -ms-flex: 2 2; flex: 2 2; }
#entry[data-length='5'] li#combination-entry { -webkit-box-flex: 1; -webkit-flex: 1 1; -ms-flex: 1 1; flex: 1 1; }
.full #combination-entry {
  display: none;
}

@media (min-width: 60em) {
  #entry {
    width: 60%;
    height: 100vh;
    border-right: 1px solid darkgray;
  }
  nav {
    width: 40%;
  }
  #display {
    position: fixed;
    left: 60%;
    top: 0;
    right: 0;
  }
  #display > * {
    min-height: 70vh;
    overflow-y: auto;
    border-bottom: 1px solid darkgray;
  }
  #notes {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 60%;
  }
  #switch-display {
    display: none;
  }

  #combination > li, #idol-menu > li {
    width: 16.2%;
  }
}

h2 {
  font-size: medium;
  font-weight: normal;
}
#effects, #synergies, #incompatibilities, #notes, dt, dd, .instruction {
  font-size: smaller;
}

#combination > li, #idol-menu > li {
  border: 0.2ex solid transparent;
  display: inline-block;
  vertical-align: top;
}
#combination > li, #idol-menu > li {
  height: 9ex;
  padding: 1ex 0.2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

#combination > li:hover, #idol-menu > li:hover {
  border-color: lightblue;
}
#idol-menu > li.highlighted {
  border-color: black;
}
#combination > li.examined, #idol-menu > li.examined {
  border-color: green green red red;
}
#combination-entry input {
  font-size: medium;
  border: none;
  -webkit-appearance: none;
  width: 100%;
}
#combination-entry input:focus {
  outline: none;
}

#idol-menu li:not(.in-use) {
  cursor: pointer;
}
#combination li {
  cursor: pointer;
}
.idol {
  position: relative;
  padding-left: 3rem;
  padding-top: 5ex;
  height: 7ex;
}
.idol img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.idol .name {
  display: block;
  position: absolute;
  right: 0;
  left: 3rem;
  bottom: 2ex;
}


.synergies .name {
    display: inline;
}
.score, .synergy-value, .score-delta {
  display: inline-block;
  font-size: small;
}
.score-delta {
  color: dimgray;
  cursor: help;
}
#idol-menu .score-delta::before {
  content: '+';
}

.details {
  display: none;
}

#score {
  font-size: xx-large;
  font-weight: bold;
}
#synergies ul, #incompatibilities ul {
  list-style: none;
  padding-left: 0;
}
.idol-name, .idol-names {
  display: inline;
}
#synergies .idol-name::after {
  content: ' + ';
}
#synergies .idol-name:last-child::after {
  content: ': ';
}

#incompatibilities .dungeon::after {
  content: ': ';
}
#incompatibilities .idol-name::after {
  content: ', ';
}
#incompatibilities .idol-name:last-child::after {
  content: '';
}

#notes {
  padding-left: 0.5em;
}

#combination-display {
  display: block;
  width: 100%;
  border: none;
}
.synergies .name, .synergy-value {
  color: green;
}
.synergies .negative .name, .negative .synergy-value {
  color: red;
}
.in-use {
  color: darkgray;
}

html {
  font-family: 'Roboto', sans-serif;
}
.name, #score, #combination-entry input, h2 {
  font-family: 'Roboto Slab', serif;
}
#filters, #filters h2, ul.synergies .name {
  font-family: 'Roboto Condensed', sans-serif;
}
#filters input, #filters select {
  font: inherit;
}

progress {
  width: 100%;
  height: 2ex;
}
progress + .label {
  margin-top: -2ex;
  display: block;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 0.5em white;
}

ul.idols, ul.dungeons, ul.synergies, ul.incompatibilities {
  padding: 0;
  margin: 0;
  display: inline;
}

ul.synergies .name, ul.synergies .synergy-value {
    font-size: x-small;
}

ul.idols > li, ul.dungeons > li, ul.synergies li {
  display: inline;
}
#display-idol ul > li::after, #search-window ul > li::after {
  content: ', ';
}
#display-idol ul > li:last-child::after, #search-window ul > li:last-child::after {
  content: '';
}

dl {
  padding: 1ex 0 0 0;
}
dt {
  float: left;
  clear: left;
  max-width: 6rem;
}
dd {
  border-bottom: 1px solid darkgray;
  margin: 0 0 0.5ex 0;
  padding: 0 0 0 6.5rem;
}
dd:last-child {
  border-bottom: none;
}
dd.numeric {
  text-align: right;
}
dd::after {
  content: '';
  display: block;
  clear: both;
}
dd .progress {
  display: block;
  text-align: center;
}
#filters {
  font-size: smaller;
  padding: 0.5em 0.5em 0.5em 4em;
  z-index: 30;
  position: relative;
}
#filters h2 {
  font-size: 100%;
  font-weight: normal;
  display: inline;
}
input[type='number'] {
  width: 4em;
}
#filters input[type='checkbox'] {
  display: none;
}
#filters label {
  display: inline-block;
  padding: 0.2ex 0.5em 0.2ex 0;
}
input[type='checkbox'] + .label {
  cursor: pointer;
}
input[type='checkbox']:checked + .label,
label.is-set,
.is-set input[type='number'],
.is-set select,
.is-set ~ input[type='reset'] {
  color: #03A9F4;
}
.is-set select option {
  color: initial;
}
input[type='reset'] {
  position: absolute;
  left: 0;
  top: 0.5em;
  bottom: 0.5em;
  width: 3.5em;
  white-space: normal;
}

nav .pages {
  border: none;
  padding: 0.5ex 0 0;
  margin: 0 0.5em;
}
nav .pages label {
  display: inline-table;
  width: 32%;
  height: 9ex;
  padding-top: 1ex;
  margin: 0;
  cursor: pointer;
}
nav input[type='radio'] {
  display: none;
}
nav .pages input[type='radio'] + .label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid transparent;
}
nav .pages input[type='radio']:checked + .label {
  border-bottom-color: darkgray;
}
nav .languages {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: 0;
  color: dimgray;
}
nav .languages .label {
  display: inline-block;
  padding: 0 0.25em;
  font-size: x-small;
  cursor: pointer;
  text-transform: uppercase;
}
nav .languages input:checked + .label {
  color: black;
}

#display-idol > .name {
  display: block;
  text-align: center;
}
#display-idol img {
  height: 200px;
  display: block;
  margin: 0 auto;
}
#display-idol img, .idol img {
  background: -webkit-radial-gradient(center, ellipse, hsla(135, 62%, 11%, 0.28) 0%, hsla(135, 62%, 11%, 0) 50%, hsla(135, 62%, 11%, 0) 100%);
  background: radial-gradient(ellipse at center, hsla(135, 62%, 11%, 0.28) 0%, hsla(135, 62%, 11%, 0) 50%, hsla(135, 62%, 11%, 0) 100%);
}

.estimated-time.long {
  color: red;
  cursor: help;
}

