<div id='displayCombination' data-bind='with: $root.selectedCombination'>
  <p data-bind='tr' class='instruction'>
  Select idols to see their combined score and other information.
  </p>

  <!-- ko if: idols().length > 0 -->
  <span id='score' data-bind='text: score()'></span>

  <input id='combination-display' readonly data-bind='value: text'
  onclick="this.select()">
  <h2 data-bind='tr'>Effects</h2>
  <ul id='effects' data-bind='foreach: idols'>
    <li>
      <span class='name' data-bind='textTr: name'></span>:
      <span data-bind='textTr: effect'></span>
    </li>
  </ul>

  <!-- ko if: incompatibilities().length > 0 -->
  <h2>Incompatible Dungeons</h2>
  <ul id='incompatibilities' data-bind='foreach: incompatibilities'>
    <li>
      <span class='dungeon' data-bind='textTr: dungeon'></span>
      <ul class='idol-names' data-bind='foreach: idols'>
        <li class='idol-name name' data-bind='textTr: name'></li>
      </ul>
    </li>
  </ul>
  <!-- /ko -->

  <!-- ko if: synergies().length > 0 -->
  <h2>Synergies</h2>
  <ul id='synergies' data-bind='foreach: synergies()'>
    <li class='synergy' data-bind='css: {negative: negative}'>
      <ul class='idol-names' data-bind='foreach: idols'>
        <li class='idol-name' data-bind='textTr: name'></li>
      </ul>
      <span class='synergy-value' data-bind='text: value'></span>
    </li>
  </ul>
  <!-- /ko -->

  <!-- /ko -->
</div>
