<div id='display-idol' data-bind='with: $root.selectedIdol'>
  <p class='instruction'>
    Select an idol to see its details.
  </p>

  <span data-bind='text: name'></span>
  <img data-bind='attr: {src: "//thumbor.dofustreasure.net/unsafe/" + imageUrl}'>
  <dl>
    <dt>Score</dt> <dd data-bind='text: score'></dd>
    <dt>Level</dt> <dd data-bind='text: level'></dd>
    <dt>Description</dt> <dd data-bind='text: description'></dd>
    <dt>Effect</dt> <dd data-bind='text: effect'></dd>
    <dt>Incompatible with</dt>
    <dd>
      <ul class='dungeons' data-bind='foreach: ineligible'>
        <li data-bind='text: $data'></li>
      </ul>
    </dd>
  </dl>
</div>

