<div class='filters' data-bind='with: $root.filters'>
  <label title='Show only idols with this or higher score'>
    Score &ge;
    <input type='number' min='0' data-bind='value: minimumScore'></label>
  <label title='Show only idols that can be crafted by artificers of this level'>
    Level &le;
    <input type='number' min='1' max='200' data-bind='value: maximumLevel'></label>
  <label title='Show only idols of this grade or higher and all non-family idols'>Grade &ge;
    <select data-bind='value: minimumGrade, foreach: idolGradeList'>
      <option data-bind='text: name, value: value'></option>
    </select>
  </label>

  <label title='Show only idols usable in smaller than 4v4 fights'>
    <input type='checkbox' data-bind='checked: smallGroup'>
    <span class='label'>Small group</span></label>

  <h2>
    <label title='Require/ignore compatibility with all dungeon bosses'>
      <input type='checkbox' data-bind='checked: needAllDungeons'>
      <span class='label'>Dungeon bosses:</span>
    </label>
  </h2>
  <ul class='dungeons' data-bind='foreach: dungeonList'>
    <li>
      <label data-bind='attr: {title: "Show only idols usable in fights against " + $data}'>
        <input type='checkbox' data-bind='checked: $root.filters.neededDungeons, attr: {value: $data}'>
        <span class='label' data-bind='text: $data'></span>
      </label>
    </li>
  </ul>
</div>

