<div class='idol' data-bind='click: select'>
  <span class='name' data-bind='text: name'></span>
  <span class='score' title="Score" data-bind='text: score'></span>
  <!-- ko if: synergyWithExaminedIdol -->
  <span class='synergy-value' title="Synergy with selected idol"
    data-bind='text: synergyWithExaminedIdol().value,
    css: {positive: positiveSynergy, negative: negativeSynergy},'></span>
  <!-- /ko -->
  <span class='score-delta'
    title="Score increase/decrease if this idol is added/removed"
    data-bind='text: scoreDelta'></span>
  <!-- <img  data-bind='attr: {src: imageUrl}' /> -->
  <dl class='details'>
    <dt>Level</dt>
    <dd class='level' data-bind='text: level'></dd>

    <dt>Description<dt>
    <dd class='description' data-bind='text: description'></dd>

    <dt>Effect</dt>
    <dd class='effect' data-bind='text: effect'></dd>

    <dt>Group only</dt>
    <input class='group-only' type='checkbox' data-bind='checked: group' disabled>

    <dt>Inelible dungeons</dt>
    <dd>
      <ul class='ineligible-dungeons' data-bind='foreach: ineligible'>
        <li class='dungeon' data-bind='text: $data'></li>
      </ul>
    </dd>
  </dl>
</div>

