<div class='idol' data-bind='click: select'>
  <img data-bind='attr: {src: "//thumbor.dofustreasure.net/unsafe/48x/" + imageUrl}' />
  <span class='name' data-bind='textTr: name, css: {"long-words": nameIsLong}'></span>
  <span class='score' title="Score" data-bind='text: score, tr: "title"'></span>
  <!-- ko if: synergyWithExaminedIdol -->
  <span class='synergy-value' title="Synergy with selected idol"
    data-bind='text: synergyWithExaminedIdol().value,
    css: {positive: positiveSynergy, negative: negativeSynergy}, tr: "title"}'></span>
  <!-- /ko -->
  <span class='score-delta'
    title="Score increase/decrease if this idol is added/removed"
    data-bind='text: scoreDelta, tr: "title"'></span>
</div>

