<div id='search-window' data-bind='with: $root.searchWindow'>
  <!-- ko if: searching -->
  <p class='instruction'>
  Searching for the best idol combination. This can take a while...
  </p>
  <button data-bind='click: stopSearching'>Stop</button>
  <!-- /ko -->

  <!-- ko ifnot: searching -->
  <p class='instruction'>
  This will look for the combination with the highest score, given the visible idols. To
  shorten the time needed, you should first use filters to show a small subset of idols.
  </p>
  <button data-bind='click: startSearching'>Start</button>
  <!-- /ko -->

  <dl>
    <dt>Best combination found so far</dt>
    <dd>
    <ul class='idols' data-bind='foreach: bestCombination'>
      <li data-bind='text: name'></li>
    </ul>
    </dd>
    <dt>Score</dt>
    <dd data-bind='text: bestScore'></dd>

    <!-- ko if: searching -->
    <dt>Search progress</dt>
    <dd>
      <progress data-bind='attr: {max: progressMax, value: progressValue}'>
      </progress>
      <span class='label'>
        <span class='percentage' data-bind='text: progressPercentage'></span>
        (<span data-bind='text: progressValue'></span>
        of
        <span data-bind='text: progressMax'></span>
        combinations)
      </span>
    </dd>
    <dt>Time elapsed</dt>
    <dd data-bind='text: timeElapsed'></dd>
    <dt>Estimated time remaining</dt>
    <dd data-bind='text: estimatedTimeRemaining'></dd>
    <!-- /ko -->
  </dl>
</div>
