<div id='search-window' data-bind='with: $root.searchWindow'>
  <!-- ko if: searching -->
  <p data-bind='tr' class='instruction'>
  Searching for the best idol combination. This can take a while...
  </p>
  <button data-bind='click: stopSearching, tr'>Stop</button>
  <!-- /ko -->

  <!-- ko ifnot: searching -->
  <p class='instruction'>
    <span data-bind='tr'>This will look for the combination with the highest score which can
      be made using the visible idols. To shorten the time needed, you should first use
      filters to show a small subset of idols. For example,</span>
    <button data-bind='tr, click: function() {$root.filters.minimumGrade(3)}'>
      limit the search to "Great" idols only
    </button>.
  </p>
  <button data-bind='click: startSearching, tr'>Start</button>
  <!-- /ko -->

  <dl>
    <dt data-bind='tr'>Total combinations</dt>
    <dd class='numeric' data-bind='text: numberOfCombinations'></dd>

    <dt data-bind='tr'>Combinations per second</dt>
    <dd class='numeric' data-bind='text: combinationsPerSecond'></dd>

    <dt data-bind='tr'>Estimated time needed<dt>
    <dd class='estimated-time numeric'
        data-bind='text: estimatedTime, css: {long: estimatedTimeIsLong}, tr: "title"'
        title='Apply idol filters first to shorten the needed search time'></dd>

    <!-- ko if: searching -->
    <dt data-bind='tr'>Search progress</dt>
    <dd>
      <progress data-bind='attr: {max: progressMax, value: progressValue}'>
      </progress>
      <span class='label'>
        <span class='percentage' data-bind='text: progressPercentage'></span>
        (<span data-bind='text: progressValue'></span>
        <span data-bind='tr'>of</span>
        <span data-bind='text: progressMax'></span>
        <span data-bind='tr'>combinations</span>)
      </span>
    </dd>
    <dt data-bind='tr'>Time elapsed</dt>
    <dd class='numeric' data-bind='text: timeElapsed'></dd>
    <dt data-bind='tr'>Estimated time remaining</dt>
    <dd class='numeric' data-bind='text: estimatedTimeRemaining'></dd>
    <!-- /ko -->

    <dt data-bind='tr'>Best combination found so far</dt>
    <dd id='best-combination-found'>
    <ul class='idols' data-bind='foreach: bestCombination'>
      <li data-bind='textTr: name'></li>
    </ul>
    <button data-bind='tr, click: displayFoundCombination, visible: bestCombinationFound'>Display </button>
    </dd>
    <dt data-bind='tr'>Score</dt>
    <dd class='numeric' data-bind='text: bestScore'></dd>
  </dl>
</div>
